@import "~normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Economica:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import "_variables";
@import "modules/hello.scss";

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Economica", sans-serif;
  background: $watapp;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.hello {
  &__link {
    color: rgb(18, 16, 124);
    text-decoration: none;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.back {
  margin-top: 30px;
  margin-bottom: 20px;
  color: rgb(18, 16, 124);
  text-decoration: none;
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.result{
  margin-top: 50px;
  font-size: 20px;
}

.header {
  &__title {
    font-size: 55px;
    text-align: center;
    color: rgb(18, 16, 124);
    margin-bottom: 50px;
    margin-top: 20px;
  }
}

.game {
  &__glass {
    width: 280px;
    height: 280px;
    background: url("../assets/img/glass.svg");
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__number {
    font-size: 80px;
    color: rgb(18, 16, 124);
  }
  &__buttons {
    display: block;
    margin: auto;

    &--add {
      margin-top: 42px;
      width: 216px;
      height: 47px;
      font-size: 22px;
      background: #ffffff;
      box-shadow: 0px 6px 6px rgb(255, 255, 255, 0.25);
      border-radius: 10px;
      border: none;
      cursor: pointer;
      &:focus {
        opacity: 0.9;
      }
    }
    &--remove {
      margin-top: 32px;
      width: 184px;
      height: 23px;
      font-size: 18px;
      background: $watapp;
      color: white;
      box-shadow: 0px 5px 5px rgb(255, 255, 255, 0.25);
      border: none;
      cursor: pointer;
      &:focus {
        background: rgb(255, 255, 255, 0.05);
      }
    }
  }
}

